@media (max-width:768px){
.navi{
  display: block;

}
#text{
  display: none;
}
#nar-bar{
  display: block;
}
.personal{
  padding-left: 30px;
}
.container-project{
  gap:20px;
}
 .date{
  flex-direction: column;
 }
  .container-cert1 {
    flex-direction: column;
  align-items: flex-start;
  }
  .container-cert2 {
    flex-direction: column;
    padding-top: 20px;
    align-items: flex-start;
  }
  .container-cert3 {
    flex-direction: column;
    align-items: start;
  }
}